.social-icon{
    display: flex;
    justify-content: center;
    /* width: 100px; */
    align-items: center;
}
.s-icon{
    font-size: 30px;
    margin: 5px;
    color:black
}
.s-icon:hover{
  
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: rgb(147, 161, 202);
    font-weight: 800;
    text-decoration: underline;
    overflow: hidden;
  
}
 .header-image{
    border-radius:10px;
    width: 100%;
    height: 100%;
} 
@media screen and (min-width:100px) and (max-width:750px) {
    .header-image{
        border-radius:10px;
         width: 150px; 
         height: 150px; 
 }
    
 }  