.header{
    width: 100%;
    height: 60px;
    background-color: rgb(118, 93, 101);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: #ADB7BE;
}
.header-right-div{
    width: 40%;
    
}
.header-links{
    display: flex;
    justify-content: space-evenly;
}
.header-links li{
list-style-type: none;
}
.nav-links{
    text-decoration: none;
    color: #ADB7BE;
}
.nav-links:hover{
  
        position: relative;
        display: inline-block;
        font-size: 1em;
        color: rgb(203, 207, 220);
        font-weight: 800;
        text-decoration: underline;
        overflow: hidden;
      text-decoration: underline;
}

.logo{
    margin-left: 10px;
    font-size: 30px;
    font-family:  'Inter', sans-serif;
}

@media screen and (min-width:100px) and (max-width:750px) {
.header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }   
.header-right-div{
width: 100%;
}
.nav-links{
    font-size: 15px;
}
}
